.shopTitle {
  margin-top: 100px;
  padding-left: 0px;
  text-align: center;
  font-size: 30px;
}
.innovacart{
  @media screen and (max-width:768px) {
    display: flex;
    width: 500px;
    height: 120px;
    font-size: 90px;
    margin-left: 180px;
  }
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.electronics{
  color: rgb(154, 16, 208);
  margin-left: 700px;
  @media screen  and (max-width:768px) {
    display:flex;
    margin-left: 280px;
    width: 350px;
    align-content: center;
    font-size: 38px;
  }
}
.electronics:hover{
  /* text-decoration: underline; */
  /* border: 2px solid green; */
  width: 95px;
  padding-left: 3px;
  background-color:rgb(154, 16, 208) ;
  color: white;
  height: 42px;
  border-radius: 30px;
}
.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
